@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.home {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home .div {
  background-color: #ffeac5;
  width: 100%;
  height: 100%;
  position: relative;
}

.home .overlap {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 200px;
  left: 200px;
  border-radius: 86px;
}

.home .overlap-group {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 200px;
  right: 200px;
  border-radius: 86px;
  background-color: #7c3620;
}

.home .div-2 {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 0;
  left: 0;
  background-color: #cb6040;
  border-radius: 86px;
  box-shadow: 10px 10px 4px #00000040;
  cursor: pointer;
}

.home .text-wrapper {
  position: absolute;
  height: 22px;
  top: 383px;
  left: 116px;
  font-family: 'Irish Grover', Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.home .wishlist {
  position: absolute;
  width: 250px;
  height: 331px;
  top: 20px;
  left: 164px;
  object-fit: cover;
  cursor: pointer;
}

.home .text-wrapper-2 {
  position: absolute;
  height: 22px;
  top: 383px;
  left: 144px;
  font-family: 'Irish Grover', Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.home .think-question {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 72px;
  left: 202px;
  object-fit: cover;
  cursor: pointer;
}

.home .rectangle {
  position: absolute;
  width: 1440px;
  height: 71px;
  top: 953px;
  left: 0;
  background-color: #fcfaee;
}

.home .overlap-group-2 {
  position: absolute;
  width: 100%;
  height: 160px;
  top: 0;
  left: 0;
  background-color: #ffd993;
}

.home .cheese-photoroom {
  position: absolute;
  width: 150px;
  height: 113px;
  top: 23px;
  left: 23px;
  object-fit: cover;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 288px;
  height: 39px;
  top: 30%;
  left: 173px;
  font-family: 'Irish Grover', Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
  white-space: nowrap;
}


/* want cheese */
.want-cheese {
  background-color: #ffeac5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.want-cheese .div {
  background-color: #ffeac5;
  overflow: hidden;
  width: 2000px;
  height: 1024px;
  position: relative;
}

.want-cheese .select {
  position: absolute;
  width: 1355px;
  height: 726px;
  top: 194px;
  left: 41px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.want-cheese .frame {
  position: relative;
  width: 500px;
  height: 726px;
  left: 855px;
  overflow: hidden;
  overflow-y: scroll;
}

.want-cheese .overlap-group {
  position: relative;
  width: 535px;
  height: 1794px;
  /* background-image: url(./img/rectangle-2.svg); */
  background-size: 100% 100%;
  background-color: #CB6040;
}

.want-cheese .rectangle {
  position: absolute;
  width: 435px;
  height: 241px;
  top: 1414px;
  left: 31px;
  background-color: #d3c0a63b;
}

.want-cheese .rectangle-2 {
  top: 1139px;
  left: 31px;
  position: absolute;
  width: 435px;
  height: 241px;
  background-color: #d3c0a63b;
}

.want-cheese .rectangle-3 {
  top: 864px;
  left: 32px;
  position: absolute;
  width: 435px;
  height: 241px;
  background-color: #d3c0a63b;
}

.want-cheese .rectangle-4 {
  position: absolute;
  width: 435px;
  height: 241px;
  top: 580px;
  left: 32px;
  background-color: #d3c0a63b;
}

.want-cheese .rectangle-5 {
  top: 305px;
  left: 31px;
  position: absolute;
  width: 435px;
  height: 241px;
  background-color: #d3c0a63b;
}

.want-cheese .rectangle-6 {
  position: absolute;
  width: 435px;
  height: 241px;
  top: 30px;
  left: 31px;
  background-color: #d3c0a63b;
}

.want-cheese .rectangle-7 {
  position: absolute;
  width: 1442px;
  height: 71px;
  top: 953px;
  left: -2px;
  background-color: #fcfaee;
}

.want-cheese .overlap {
  position: absolute;
  width: 1440px;
  height: 160px;
  top: 0;
  left: 0;
}

.want-cheese .cheese-photoroom {
  position: absolute;
  width: 150px;
  height: 113px;
  top: 23px;
  left: 23px;
  object-fit: cover;
}

.want-cheese .text-wrapper {
  position: absolute;
  width: 295px;
  height: 39px;
  top: 60px;
  left: 173px;
  font-family: 'Irish Grover', Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
}

.want-cheese .text-wrapper-2 {
  position: absolute;
  width: 139px;
  height: 23px;
  top: 68px;
  left: 806px;
  font-family: 'Irish Grover', Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.want-cheese .rectangle-8 {
  position: absolute;
  width: 100%;
  height: 160px;
  top: 0;
  left: 0;
  background-color: #fcfaee;
}

.want-cheese .text-wrapper-3 {
  position: absolute;
  width: 288px;
  height: 39px;
  top: 60px;
  left: 173px;
  font-family: 'Irish Grover', Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
  white-space: nowrap;
}

.want-cheese .text-wrapper-4 {
  position: absolute;
  height: 22px;
  top: 70px;
  left: 820px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.want-cheese .rectangle-9 {
  position: absolute;
  width: 210px;
  height: 39px;
  top: 61px;
  left: 945px;
  background-color: #d9d9d9b2;
  border-radius: 10px;
  opacity: 0.4;
}

.want-cheese .text-wrapper-5 {
  position: absolute;
  height: 22px;
  top: 71px;
  left: 959px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.want-cheese .text-wrapper-6 {
  position: absolute;
  height: 22px;
  top: 72px;
  left: 1187px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}


/* what cheese */
.what-cheese {
  background-color: #ffeac5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.what-cheese .div {
  background-color: #ffeac5;
  width: 100%;
  height: 100%;
  position: relative;
}

.what-cheese .overlap {
  position: absolute;
  width: 100%;
  height: 160px;
  top: 0;
  left: 0;
  background-color: #ffd993;
}

.what-cheese .text-wrapper {
  position: absolute;
  width: 288px;
  height: 39px;
  top: 30%;
  left: 173px;
  font-family: 'Irish Grover', Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
  white-space: nowrap;
}

.what-cheese .overlap-group {
  position: relative;
  width: 210px;
  height: 39px;
  top: 7.5vh;
  left: 85vw;
  border-radius: 10px;
}

.what-cheese .rectangle {
  width: 190px;
  height: 39px;
  top: 0;
  background-color: #d9d9d9b2;
  border-radius: 10px;
  opacity: 0.4;
  position: absolute;
  left: 0;
}

.what-cheese .text-wrapper-2 {
  position: absolute;
  height: 22px;
  top: 11px;
  left: 10px;
  font-family: "Poppins-Light", Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.what-cheese .cheese-photoroom {
  position: absolute;
  width: 150px;
  height: 113px;
  top: 23px;
  left: 23px;
  object-fit: cover;
}

.what-cheese .text-wrapper-3 {
  position: relative;
  width: 210px;
  height: 23px;
  top: 4vh;
  left: 66.5vw;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
}

.what-cheese .text-wrapper-4 {
  position: relative;
  height: 22px;
  top: 4vh;
  left: 68.5vw;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
}

.what-cheese .rectangle-2 {
  width: 1440px;
  height: 71px;
  top: 953px;
  background-color: #fcfaee;
  position: absolute;
  left: 0;
}

.what-cheese .select {
  position: absolute;
  width: 95%;
  height: 595px;
  top: 170px;
  left: 42px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.what-cheese .img {
  position: relative; /* ใช้ตำแหน่ง relative */
  width: 60%;
  height: 500px;
  top: 23vh;
  margin: 0 auto; /* ทำให้อยู่กลาง */
  background-image: url(img/background.png);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.what-cheese .box {
  position: relative; /* ใช้ตำแหน่ง relative */
  width: 50%;
  height: 80%;
  top: 1vh;
  margin: 0 auto; /* ทำให้อยู่กลาง */
  background-color: #ECDFCC;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;

  /* width: 100%; /* หรือความกว้างที่ต้องการ
  height: 400px; /* หรือความสูงที่ต้องการ 
  overflow: hidden; /* ป้องกันไม่ให้ภาพล débord
  position: relative; เพื่อให้สามารถใช้ position กับ img */
}

.what-cheese .gallery {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ปรับขนาดภาพให้เต็มกรอบ */
  position: absolute; /* ทำให้ภาพถูกวางซ้อน */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* จัดตำแหน่งกลาง */
}

.what-cheese .upload-image-wrapper {
  position: absolute;
  width: 275px;
  height: 52px;
  top: 85%;
  left: 35%;
  margin: 0 auto; /* จัดกลางในแนวนอน */
  background-color: #d8d2c2;
  border-radius: 30px;
  box-shadow: 0px 4px 10px #00000040;
  cursor: pointer;
}

.what-cheese .upload-image {
  position: absolute;
  top: 13px;
  left: 70px;
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.what-cheese .overlap-2 {
  position: relative;
  width: 213px;
  height: 69px;
  top: 25vh;
  margin: 0 auto; /* จัดกลางในแนวนอน */
  border-radius: 10px;
  cursor: pointer;
}

.what-cheese .search-button {
  position: absolute;
  width: 213px;
  height: 69px;
  top: 0;
  left: 0;
  background-color: #fd8b51;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 3px #00000040;
}

.what-cheese .text-wrapper-5 {
  position: absolute;
  top: 14px;
  left: 54px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.what-cheese #currentImage {
  width: 300px; /* ขนาดของรูปภาพที่จะแสดง */
  height: auto;
}

.what-cheese .arrow-btn {
  position: relative;
  width: 5%;
  height: 10%;
  top: -27vh;
  
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

/* .what-cheese .arrow-btn-left {
  position: relative;
  width: 5%;
  height: 10%;
  top: -27vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
} */

.what-cheese #prevButton {
  left: -15vw; /* ตำแหน่งปุ่มเลื่อนซ้าย */
}

.what-cheese #nextButton {
  right: -15vw; /* ตำแหน่งปุ่มเลื่อนขวา */
}


/* what-cheese2 */
.what-cheese2 {
  background-color: #ffeac5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 780px;
}

.what-cheese2 .div {
  background-color: #ffeac5;
  width: 100%;
  height: 100%;
  position: relative;
}

.what-cheese2 .rectangle {
  width: 190px;
  height: 39px;
  top: 0;
  background-color: #d9d9d9b2;
  border-radius: 10px;
  opacity: 0.4;
  position: absolute;
  left: 0;
}

.what-cheese2 .select {
  position: relative;
  width: 90vw;
  height: 70vh;
  top: 194px;
  left: 42px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  overflow-y: scroll;
  background-image: url(img/background.png);
}

.what-cheese2 .img {
  position: absolute;
  width: 419px;
  height: 328px;
  top: 32px;
  left: 46px;
  background-color: #eaeaea;
  border-radius: 15px;
  overflow: hidden;
}

.what-cheese2 .gallery {
  position: absolute;
  width: 138px;
  height: 130px;
  top: 99px;
  left: 141px;
  object-fit: cover;
}

.what-cheese2 .name-frame {
  position: absolute;
  width: 373px;
  height: 59px;
  top: 68px;
  left: 526px;
  background-color: #d4d4d4;
}

.what-cheese2 .text-wrapper {
  position: absolute;
  width: 288px;
  height: 39px;
  top: 30%;
  left: 173px;
  font-family: 'Irish Grover', Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
  white-space: nowrap;
}

.what-cheese2 .details-frame {
  position: absolute;
  width: 353px;
  height: 281px;
  top: 68px;
  left: 969px;
  background-color: #d4d4d4;
}

.what-cheese2 .text-wrapper-2 {
  position: absolute;
  height: 22px;
  top: 11px;
  left: 10px;
  font-family: "Poppins-Light", Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.what-cheese2 .category-frame {
  position: absolute;
  width: 373px;
  height: 59px;
  top: 171px;
  left: 526px;
  background-color: #d4d4d4;
}

.what-cheese2 .text-wrapper-3 {
  position: relative;
  width: 210px;
  height: 23px;
  top: 4vh;
  left: 66.5vw;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
}

.what-cheese2 .component-frame {
  position: absolute;
  width: 373px;
  height: 59px;
  top: 276px;
  left: 526px;
  background-color: #d4d4d4;
}

.what-cheese2 .text-wrapper-4 {
  position: relative;
  height: 22px;
  top: 4vh;
  left: 68.5vw;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
}

.what-cheese2 .menu-frame {
  position: absolute;
  width: 80vw;
  height: 30vh;
  top: 413px;
  left: 46px;
  background-color: #d4d4d4;
}

.what-cheese2 .line {
  position: absolute;
  width: 3px;
  height: 323px;
  top: 40px;
  left: 942px;
}

.what-cheese2 .overlap-group {
  position: relative;
  width: 210px;
  height: 39px;
  top: 7.5vh;
  left: 85vw;
  border-radius: 10px;
}

.what-cheese2 .text-wrapper-5 {
  position: relative;
  top: 5vh;
  left: 31vw;
  font-family: "Itim", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.what-cheese2 .text-wrapper-6 {
  /* position: relative;
  width: 288px;
  height: 39px;
  top: 10vh;
  left: 24vw;
  font-family: "Itim", sans-serif;;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
  white-space: nowrap; */

  position: relative;
  top: 14vh;
  left: 31vw;
  font-family: "Itim", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;  
}

.what-cheese2 .text-wrapper-7 {
  position: relative;
  top: -5.5vh;
  left: 57vw;
  font-family: "Itim", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.what-cheese2 .cheese-photoroom {
  position: absolute;
  width: 150px;
  height: 113px;
  top: 23px;
  left: 23px;
  object-fit: cover;
}

.what-cheese2 .overlap {
  position: absolute;
  width: 100%;
  height: 160px;
  top: 0;
  left: 0;
  background-color: #ffd993;
}

/* .what-cheese2 .rectangle-2 {
  position: absolute;
  width: 210px;
  height: 39px;
  top: 0;
  background-color: #d9d9d9b2;
  border-radius: 10px;
  opacity: 0.4;
  left: 0;
} */

.what-cheese2 .text-wrapper-8 {
  /* position: absolute;
  height: 22px;
  top: 10px;
  left: 14px;
  font-family: "";
  font-weight: 300;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap; */

  position: relative;
  top: 23.5vh;
  left: 31vw;
  font-family: "Itim", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.what-cheese2 .text-wrapper-9 {
  position: relative;
  top: 33.5vh;
  left: 3vw;
  font-family: "Itim", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.what-cheese2 .name {
  top: 2vh;
  left: 2vw;
  font-size: 16px;         /* ขนาดตัวอักษร */
  color: #000000;          /* สีดำ */
  opacity: 0.3;            /* ความโปร่งใสทำให้จาง */
  position: absolute;      /* จัดตำแหน่งแบบ absolute */
  top: 10px;
  left: 10px;
  font-style: italic;      /* ทำให้ตัวเอียง */
}

.what-cheese2 .Details {
  top: 2vh;
  left: 2vw;
  font-size: 16px;         /* ขนาดตัวอักษร */
  color: #000000;          /* สีดำ */
  opacity: 0.3;            /* ความโปร่งใสทำให้จาง */
  position: absolute;      /* จัดตำแหน่งแบบ absolute */
  top: 10px;
  left: 10px;
  font-style: italic;      /* ทำให้ตัวเอียง */
}

.what-cheese2 .component {
  top: 2vh;
  left: 2vw;
  font-size: 16px;         /* ขนาดตัวอักษร */
  color: #000000;          /* สีดำ */
  opacity: 0.3;            /* ความโปร่งใสทำให้จาง */
  position: absolute;      /* จัดตำแหน่งแบบ absolute */
  top: 10px;
  left: 10px;
  font-style: italic;      /* ทำให้ตัวเอียง */
}

.what-cheese2 .category {
  top: 2vh;
  left: 2vw;
  font-size: 16px;         /* ขนาดตัวอักษร */
  color: #000000;          /* สีดำ */
  opacity: 0.3;            /* ความโปร่งใสทำให้จาง */
  position: absolute;      /* จัดตำแหน่งแบบ absolute */
  top: 10px;
  left: 10px;
  font-style: italic;      /* ทำให้ตัวเอียง */
}

.what-cheese2 .menu {
  top: 2vh;
  left: 2vw;
  font-size: 16px;         /* ขนาดตัวอักษร */
  color: #000000;          /* สีดำ */
  opacity: 0.3;            /* ความโปร่งใสทำให้จาง */
  position: absolute;      /* จัดตำแหน่งแบบ absolute */
  top: 10px;
  left: 10px;
  font-style: italic;      /* ทำให้ตัวเอียง */
}
